/* dark mode */
* {
  background-color: black;
  color: white;
}

.root-layout-container {
  padding: 200px;
  margin: 10px;
  background-color: blueviolet;
}

.home-page-container {
  padding: 200px;
  margin: 10px;
  background-color: rgb(128, 226, 43);
}

.portfolios-page-container {
  padding: 200px;
  margin: 10px;
  background-color: rgb(43, 122, 226);
}


.summary-page-container {
  padding: 200px;
  margin: 10px;
  background-color: rgb(110, 226, 43);

}

.print-media-page-container {
  padding: 200px;
  margin: 10px;
  background-color: rgb(202, 226, 43);
}

.content-detail-page-container {
  padding: 200px;
  margin: 10px;
  background-color: rgb(226, 43, 43);
}

.todos-page-container {
  padding: 200px;
  margin: 10px;
  background-color: rgb(226, 43, 217);
}

.blogs-page-container {
  padding: 200px;
  margin: 10px;
  background-color: rgb(43, 226, 141);
}

.content-section-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-list {
  display: flex;
  padding: 10px;
}

.content-item {
  width: 300px;
  display: flex;
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
  flex-direction: column;
}

.content-item__image-container {
  position: relative;
  height: 200px;
}
.content-item__header {
  padding: 10px;
  font-size: 17px;
}

.content-item__header > div:nth-child(1) {
  font-weight: bold;
  font-size: 20px;
}

.navigation-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navigation-item {
  margin-right: 10px;
}

.link {
  color: white;
  text-decoration: none;
}

.link.active {
  color: rgb(178, 218, 160);
  text-decoration: underline;
}
